<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ mhs_name }}</title>
</head>
<body>
    <img src="https://scontent.fcgk13-1.fna.fbcdn.net/v/t1.0-9/49844958_2186603201360056_7740048714030383104_o.jpg?_nc_cat=110&_nc_ht=scontent.fcgk13-1.fna&oh=4729bcc603baa071c10a1ccacd6d0fe6&oe=5CE81EE1" alt="huhu" style="width:48px;height:48px;">
    <h1>Hello my name is Muhammad Sendi Siradj</h1>
    <h2>NPM : 1706043771</h2>
    <p>Riwayat Pendidikan</p>
    <ul>
        <li>SDN 1706043771</li>
        <li>SMPN 15 Medan </li>
        <li>SMA Unggulan Chairul Tanjung Foundation</li>
    </ul>
</body>
</html>
